@CHARSET "UTF-8";
body,
menu,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body {
	font-size: 12px;
	-webkit-touch-callout: none;
	font-family: LTHYSZK;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
{
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

em {
	font-style: normal;
}

strong {}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

abbr,
acronym {
	border: 0;
}

strike {
	display: inline;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

@font-face {
	font-family: 'LTHYSZK';
	src: url('font/fzlth.ttf');
	url('font/fzlth.ttf') format('truetype');
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}


/* Hide from IE Mac */

.clearfix {
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.none {
	display: none;
}

body {
	font-family: 'LTHYSZK', 'microsoft Yahei';
	background: #f7f7f7;
	overflow-y: auto;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	height: auto;
	overflow-x: hidden;
	width: 90.625%;
}

.head {
	padding-top: 12px;
	/* border-bottom: 1px solid #ccc; */
	border-bottom:none;
}



.head .sho_title {
	font-size: 1.46em;
	color: #868686;
	line-height: 144%;
	font-weight: normal;
	margin-bottom: 5px;
}

.head .title {
	font-size: 1.665em;
	line-height: 125%;
	font-weight: bold;
	margin-bottom: 4px;
	color: #444;
}

.head .sub_title {
	font-size: 1.46em;
	color: #333;
	line-height: 144%;
	font-weight: normal;
	margin-bottom: 4px;
}

.head .info {
	color: #999;
	font-size: 1.10em;
	margin-bottom: 8px;
	min-height:30px;
	line-height:30px;
}

.head .info .time {
	margin-right: 10px;
}

.speak{
	vertical-align: middle;
	height:30px;
	margin-right:10px;
}

.red {
	color: #f12727;
}

.introduction {
	padding: 10px 10px 9px 10px;
	font-size: 1.365em;
	line-height: 24px;
	color: #929292;
	border-bottom: 1px solid #ccc;
	background: #f3f3f3;
	text-align: justify;
	text-justify: distributed;
}

.detail {
	font-family: 'LTHYSZK';
	overflow-x: hidden;
	overflow-y: hidden;
	word-wrap: break-word;
	line-height: 1.56em;
	text-align: justify;
	text-justify: distributed;
	font-size: 1.5em;
	color: #333;
	margin: 12px 0;
}

.font_middle .detail {
	font-size: 1.50em;
}

.font_min .detail {
	font-size: 1.26em;
}

.font_big .detail {
	font-size: 2.16em;
}

.detail {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.detail img {
	width: 100%;
	background: url("img/pic_default_common.png") no-repeat center center #EBEAEA;
	background-size: 30% auto;
}

.detail p {
	margin-bottom: 13px;
	text-align: justify;
	text-justify: distributed;
}

.detail strong {
	font-weight: bold;
}

.htmlMedias {
	border-top: 0;
}

.video_warp,
.image_warp,
.audio_warp {
	margin: 13px 0;
}

.video_warp {
	width: 100%;
}

.video_warp video,
.audio_warp audio,
.image_warp,
.video_warp img {
	width: 100%;
}

.poster_warp {
	display: block;
	position: relative;
}

.video_warp p,
.audio_warp p,
.image_warp p {
	color: #7c7c7c;
	font-size: 1.28em;
	line-height: 130%;
	margin-top: 5px;
}

.survey_block {
	margin-top: 25px;
	margin-left: 10px;
}

.survey_block .items li {
	margin-bottom: 15px;
	padding: 3px 6px 3px 3px;
	position: relative;
}

.survey_block .items li.on {
	background: #eaeaea;
	border-radius: 13px 4px 4px 13px;
}

.survey_block .items li.checkbox_li.on {
	border-radius: 5px 4px 4px 5px;
}

.survey_block .items.checkbox_ul li.on {
	border-radius: 4px;
}

.survey_block .items.items_checkbox li.on {
	border-radius: 4px;
}

.survey_title {
	line-height: 19px;
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: normal;
}

.survey_title .smaller {
	color: #999;
	font-size: 14px;
}

.survey_block .radio_warp input,
.survey_block .checkbox_warp input {
	display: inline-block;
	width: 19px;
	height: 19px;
	opacity: 0;
}

.survey_block .radio_warp {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 19px;
	background: #fff;
	border: 1px solid #f15353;
	border-radius: 8px;
	vertical-align: middle;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 3px;
}

.survey_block .checkbox_warp {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 19px;
	background: #fff;
	border: 1px solid #f15353;
	border-radius: 4px;
	vertical-align: middle;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 3px;
}

.survey_block .on .radio_warp,
.survey_block .on .checkbox_warp {
	background: url("/selected@2x.png") no-repeat center center #f15353;
	background-size: 100% 100%;
}

.survey_block .items li label {
	display: block;
	line-height: 24px;
	font-size: 14px;
	padding-left: 25px;
	position: relative;
	z-index: 2;
}

.survey_block .sub_btn {
	display: block;
	background: #db2b2b;
	width: 160px;
	height: 34px;
	border-radius: 17px;
	margin: 25px auto;
	text-align: center;
	font-size: 14px;
	line-height: 34px;
	box-shadow: 0px 1px 2px #aaa;
}

.survey_block .sub_btn:link,
.survey_block .sub_btn:visited {
	color: #fff;
	text-decoration: none;
}

.survey_block .items_result li h5 {
	font-size: 14px;
	padding-bottom: 5px;
}

.survey_block .items_result li .proportion {
	height: 18px;
	line-height: 18px;
	background: #f1f1f1;
	width: 100%;
	position: relative;
}

.survey_block .items_result li .proportion .bar {
	width: 0;
	height: 18px;
	line-height: 18px;
	background-color: #F07F7F;
	display: inline-block;
}

.survey_block .items_result li:nth-child(1n+0) .proportion .bar {
	background: #99ccff;
}

.survey_block .items_result li:nth-child(2n+0) .proportion .bar {
	background: #ff9999;
}

.survey_block .items_result li:nth-child(3n+0) .proportion .bar {
	background: #ffcc66;
}

.survey_block .items_result li .proportion .preo_val {
	position: absolute;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	color: #666666;
	right: 3px;
	top: 0;
}

.survey_block .result_intr {
	font-size: 14px;
	color: #0088cc;
	margin-bottom: 20px;
}

.surveyItem_warp {
	margin-bottom: 20px;
	padding-top: 10px;
}

.ali_ngo {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.ali_ngo a:link,
.ali_ngo a:visited {
	background: #db2b2b;
	width: 160px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	display: block;
	margin: 10px auto;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0 2px 1px #ccc;
}

.ali_ngo .intr {
	font-size: 12px;
	color: #0066ff;
}


/* 0301 */

.subscribe_warp {
	padding: 10px 12px;
	margin-bottom: 30px;
	margin-left: 1px;
	background: #ffffff;
	border: 1px solid #ebebeb;
	box-shadow: 0px 1px 1px rgba(102, 102, 102, 0.05);
	position: relative;
	top: 10px;
}

.subscribe_warp .org_logo {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #ebebeb;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 12px;
	border-radius: 10%;
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -25px;
}

.subscribe_warp_text {
	display: block;
	float: left;
}

.subscribe_warp .t_warp {
	margin-left: 60px;
	margin-right: 48px;
}

.subscribe_warp h3 {
	font-size: 16px;
	color: #494949;
	padding-top: 4px;
	font-weight: normal;
	line-height: 22px;
}

.subscribe_warp h3 a:link,
.subscribe_warp h3 a:visited {
	color: #333333;
	vertical-align: center;
}

.subscribe_warp h3 .icon_enter {
	display: inline-block;
	height: 8px;
	width: 8px;
	border-top: 1px solid #ed8282;
	border-right: 1px solid #ed8282;
	vertical-align: center;
	transform: translate(0, -1px) rotate(45deg);
	-ms-transform: translate(0, -1px) rotate(45deg);
	-moz-transform: translate(0, -1px) rotate(45deg);
	-webkit-transform: translate(0, -1px) rotate(45deg);
	margin-top: 1px;
	margin-left: 10px;
}

.subscribe_warp .number {
	font-size: 10px;
	color: #999;
	display: inline-block;
	margin-top: 5px;
	padding-bottom: 5px;
}

.subscribe_warp .subscribe_btn {
	width: 42px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	border: 1px solid #ea0c0c;
	text-align: center;
	font-size: 12px;
	border-radius: 20px;
	color: #ea0c0c;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	right: 12px;
}

.subscribe_warp .subscribe_btn i {
	display: inline-block;
	width: 8px;
	height: 8px;
	position: absolute;
	background-size: 100% auto;
	background-image: url("/icon_dy.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #fff;
	top: 0;
	right: 0;
}

.subscribe_warp .subscribe_btn:link,
.subscribe_warp .subscribe_btn:visited {
	color: #ea0c0c;
}

.subscribe_warp .subscribe_btn.subscribed {
	color: #11cb08;
	border-color: #11cb08;
}

.subscribe_warp .subscribe_btn.subscribed i {
	background-position: center bottom;
}


/* 20150301 */

.relat_block1 {
	border: 1px solid #ccc;
	padding: 10px 0;
	margin-bottom: 30px;
}

.relat_block1 .block_titile {
	font-size: 16px;
	color: #dc2121;
	border-left: 4px solid #dc2121;
	padding-left: 5px;
	margin-bottom: 10px;
}

.relat_block2 {
	margin-bottom: 30px;
}

.relat_block2 .block_titile {
	font-size: 16px;
	color: #dc2121;
	border-left: 4px solid #dc2121;
	padding-left: 5px;
	margin-bottom: 10px;
}

.relat_block3 {
	margin: 30px 0;
}

.relat_block3 .block_titile {
	background-image: url("/title_bg.png");
	background-repeat: repeat-x;
	line-height: 18px;
	height: 18px;
	margin-bottom: 10px;
	font-weight: normal;
}

.relat_block3 .block_titile span {
	display: inline-block;
	padding: 0 5px;
	line-height: 18px;
	height: 18px;
	font-size: 16px;
	color: #dc2121;
	background: #fff;
	border-left: 5px solid #e2e2e2;
}

.relat_video {
	width: 100%;
	overflow: hidden;
}

.relat_video ul {
	width: 100%;
}

.relat_video ul li {
	width: 48%;
	float: left;
	margin-bottom: 15px;
}

.relat_video ul li:nth-child(2n) {
	float: right;
}

.relat_video ul li ._warp {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
	background: url("/bg_logo.png") no-repeat center center;
	background-size: 50%;
}

.relat_video ul li ._warp .time {
	position: absolute;
	bottom: 0;
	right: 0;
	width: auto;
	padding: 0 10px;
	height: 16px;
	line-height: 16px;
	color: #fff;
	text-align: right;
	background: url("/opt80.png");
	box-sizing: border-box;
}

.relat_video ul li h3 {
	height: 36px;
	line-height: 18px;
	overflow: hidden;
	font-size: 14px;
	padding-top: 4px;
}

.relat_video ul li h3 a:link,
.relat_video ul li h3 a:visited {
	font-weight: normal;
	color: #000;
}

.relat_video ul li ._warp .icon_paly {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 50%;
	top: 50%;
	background: url("/icon_play.png") no-repeat;
	background-size: 100% 100%;
	margin-left: -21px;
	margin-top: -21px;
}

.relat_video ul li {
	width: 100%;
	height: 100px;
}

.keywords_warp .keywords {
	font-size: 14px;
	padding: 10px 10px 0 10px;
}

.keywords_warp .keywords a:link,
.keywords_warp .keywords a:visited {
	color: #6C6C6C;
	display: inline-block;
	line-height: 20px;
	padding: 4px 10px;
	background: #f1f1f1;
	border-radius: 15px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.relat_post {
	padding: 6px 0;
}

.relat_post h3 {
	line-height: 18px;
	font-size: 14px;
	padding: 5px 0;
}

.relat_post h3 a:link,
.relat_post h3 a:visited {
	color: #666;
	font-weight: normal;
}

.comment_box > ul > li {
	border-bottom: 1px solid #e2e2e2;
	padding: 10px 0;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.comment_box .comment_info {
	font-size: 12px;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

.comment_info .text {
	float: left;
	color: #7e7e7e;
	height: 22px;
	line-height: 22px;
}

.comment_info .text .name {
	display: inline-block;
	max-width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
}

.comment_info .text .time {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.comment_info .text a:link,
.comment_info .text a:visited {
	color: #7e7e7e;
}

.comment_box .con_text a:link,
.comment_box .con_text a:visited,
.comment_box .con_text a:active {
	color: #000;
}

.comment_info .praise {
	padding: 0 10px 0 20px;
	background: url("img/icon_good.png") no-repeat 6px 5px;
	background-size: auto 50%;
	height: 22px;
	line-height: 22px;
	box-sizing: border-box;
	display: inline-block;
	float: right;
}

.comment_info .praise:link,
.comment_info .praise:visited {
	color: #333;
}

.comment_info .praise.praised:link,
.comment_info .praise.praised:visited {
	background-image: url("img/icon_good_ed.png");
	color: #c00;
}

.comment_info .reply_btn {
	width: 20px;
	padding: 0 10px;
	background: url("img/reply.png") no-repeat center 7px;
	background-size: auto 50%;
	height: 22px;
	line-height: 22px;
	box-sizing: border-box;
	display: inline-block;
	float: right;
}

.comment_box .comment_con {
	float: left;
	width: 100%;
	line-height: 1.4em;
	font-size: 1.18em;
}

.comment_box .comment_con .con_text a {
	display: block;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #f1f9fc;
	position: absolute;
	top: -8px;
	left: 8px;
	z-index: 2;
}

.triangle-up_shadow {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #ccc;
	position: absolute;
	top: -9px;
	left: 8px;
	z-index: 1;
}

.reply_con {
	position: relative;
	margin-left: 12px;
	background: #f1f9fc;
	border: 1px solid #e3e3e3;
	border-bottom: none;
	margin-top: 20px;
	color: #666;
}

.reply_con .reply_item {
	padding: 10px 5px;
	border-bottom: 1px solid #e3e3e3;
	font-size: 0.9em;
}

.reply_con .reply_item .reply_info {
	margin-bottom: 5px;
}

.reply_con .reply_item .reply_info .name {
	display: inline-block;
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
}

.reply_con .reply_item.open_all_item {
	padding: 10px 0;
}

.open_all {
	display: block;
	background: #d8eef5;
	text-align: center;
	line-height: 36px;
	height: 36px;
	color: #6699cc;
}

.admin_reply {
	border-top: 1px solid #e2e2e2;
	margin-top: 10px;
	padding: 10px 0 0 0;
	margin-left: 15px;
	line-height: 1.4em;
}

.darkRed {
	color: #900;
}

.lightblue {
	color: #6699cc;
}

.ad_banner {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.ad_banner {
	width: 100%;
}

#content {
	opacity: 0;
	z-index: 2;
}

.pre_text {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #666;
	text-shadow: 0px 0px 1px #fff;
	box-sizing: border-box;
	background: url("/bg_logo.png") no-repeat center center #f2f2f2;
	background-size: 25% auto;
	z-index: 1;
	display: none;
}

.pre_loading {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -70px;
	margin-left: -20px;
	background: url("/loadding.png") no-repeat center center;
	background-size: 65%;
	-webkit-animation-name: x-loading-spinner-rotate;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes x-loading-spinner-rotate {
	from {
		-webkit-transform: rotate(30deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.pre_text.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

#content.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.tip {
	margin: 20px 0;
	text-align: center;
	color: #999;
}

.relat_block3.comments_page {
	margin-top: 10px;
}

.v_bigplaybtn i {
	opacity: 0;
}

#showit {
	word-wrap: break-word;
	word-break: break-all;
}

#loadMore {
	display: none;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	background-color: #F1F9FC;
	-webkit-border-radius: 10px;
	border: 1px solid #CCCCCC;
}

#loadMore:active {
	background-image: #CCCCCC;
}

.survey_item_ {
	max-height: 100px;
	max-width: 100px;
	vertical-align: top;
	display: block;
}

.share_logo {
	width: 50px;
}

.share_box td {
	text-align: center;
}

.share_box {
	background: #FFF;
	padding: 10px 0;
}

.hotNewsItem table{
	height: 60px;
	width: 100%;
}

.faceimg_wapper{
	width:80px;
	height: 60px;
	padding:2px;
	overflow: hidden;
}

.faceimg{
	width: 80px;
}

.hotNewsTitle{
	padding:5px;
	font-size:17px;
}

.tow_line {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}

.tow_line lable {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.vote_img_box {
	display: block;
	text-align: center;
	height: 100px;
	border: 1px solid #ccc;
	margin: 2px;
	overflow: hidden;
}

.vote_img_box .survey_item_img {
	height: 100px;
	vertical-align: middle;
}

.tow_line .tow_line_input {
	top: 110px;
}

.tow_line_text {
	display: inline-block;
	height: 48px;
	overflow: hidden;
}